ul.user-social
  li.user-social__item
    a(href="#").user-social__link
      i.fa.fa-vk
  li.user-social__item
    a(href="https://github.com/anton-loftschool").user-social__link
      i.fa.fa-github-alt
  li.user-social__item
    a(href="#").user-social__link
      i.fa.fa-linkedin
