ul.user-menu
  li.user-menu__item
    a(href="/works.html").user-menu__link
      | Мои работы
  li.user-menu__item.user-menu__item_inner-item
    a(href="/about.html").user-menu__link
      | Обо мне
  li.user-menu__item
    a(href="/blog.html").user-menu__link
      | Блог
