.footer-page-wrapper {
  width: 100%;
  position: relative;
  opacity: 0.85;
}

.footer-page-top {
  height: 147px;
  margin-top: -147px;
  background-color: #373e42;
}

.footer-page-bottom {
  text-align: center;
  vertical-align: middle;
  height: 38px;
  margin-top: -38px;
  background-color: #6c9c5a;
}

.footer-page-bottom__copyright {
  font-size: 16px;
  color: #fff;
  line-height: 38px;
}
