.footer-index-wrapper {
  width: 100%;
  position: relative;
}

.footer-index {
  text-align: center;
  vertical-align: middle;
  height: 38px;
  margin-top: -38px;
}

.footer-index__copyright {
  font-size: 16px;
  color: #fff;
  line-height: 38px;
}
