.title {
  text-transform: uppercase;
  color: #373e42;
  font-size: 63px;
  font-family: "SansusWebissimoRegular", Arial, sans-serif;
  padding: 45px 80px;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
