$footer-copyright-height: 38px

.footer-copyright
  height: $footer-copyright-height
  margin-top: -$footer-copyright-height
  background-color: rgba(112, 158, 95, 0.85)

.footer-copyright__text
  line-height: $footer-copyright-height
  text-align: center
  font-family: "Roboto", Arial, sans-serif
  color: #fff
  font-weight: 300
