blockquote.footer-quote
  .footer-quote__text
    | Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
  .footer-quote__author
    | — Martin Golding
