section.section.about
  .about__left
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle.about__triangles
      polygon(points="0,0 0,100 1000,100").triangle_fill_white
    .title.about__section-title
      | Обо мне
  .about__right
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle.about__triangles
      polygon(points="0,100 1000,100 1000,0").triangle_fill_beige
