.user-block
  .user-block__photo
    include ../user-photo/user-photo
  .user-block__name
    include ../user-name/user-name
  .user-block__info
    include ../user-info/user-info
  .user-block__social
    include ../user-social/user-social
  nav.user-block__menu
    include ../user-menu/user-menu
