.contacts
  .contacts__header.subtitle
    | Контакты
  ul.contacts__list
    li.contact
      .contact__icon
        i.fa.fa-skype
      .contact__text
        | anton-skype
    li.contact
      .contact__icon
        i.fa.fa-envelope
      .contact__text
        | anton@gmail.com
    li.contact
      .contact__icon
        i.fa.fa-phone
      .contact__text
        | +7 (913) 200-93-24
    li.contact
      .contact__icon
        i.fa.fa-map-marker
      .contact__text
        | Новосибирск, ул. Инская, д.14
