.blog__list {
	margin: 0px 10px;
	padding: 0px;
	padding-top: 6px;
	list-style: none;
}

.blog-menu__list {
	display: none;
}

.blog__item {
	padding-top: 24px;
	padding-bottom: 27px;
	border-bottom: 4px solid #f1f1f2;

	&:last-child {
		padding-bottom: 12px;
		border: none;
	}
}

.blog__title {
	margin: 0px;
	margin-bottom: 8px;
	padding-right: 20px;
	font-size: 21px;
	line-height: 28px;
	color: #566358;
	font-family: "Sansus", arial, sans-serif;
}

.blog__time {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 24px;
	color: #4e8839;

	&--margin {
		margin-bottom: 6px;
	}
}

.blog__text {
	margin: 0px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 21px;
	color: #566358;

	&--margin {
		margin-bottom: 14px;
	}

	&--height {
		line-height: 24px;
	}
}

.blog__img-box {
	height: 104px;
	width: 100%;
	overflow: hidden;
}

@media (min-width: 768px) {

.blog__list {
	margin: 0px 23px;
	padding-top: 23px; 
	padding-bottom: 20px;
}


.blog__title {
	margin-right: 0px;
	padding-right: 0px;
	font-size: 30px;
	line-height: 36px;
}

.blog__item {
	padding-bottom: 64px;
	border-bottom: 5px solid #f1f1f2;

	&--padding {
		padding-top: 43px;
	}
}

}

@media (min-width: 1200px) {

.blog-menu__list {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-top: 69px;
	width: 35%;
	list-style: none;
}

.blog-menu__link {
	display: block;
	position: relative;
	margin-bottom: 10px;
	padding-right: 20px;
	padding-top: 9px;
	padding-bottom: 7px;
	margin-right: 48px;
	margin-left: 30px;
	text-align: right;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;

	&--active {
		font-weight: 800;
		color: #4e8839;

		&::before {
		content: "";
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 2px;
		background: #4e8839;
		}
	}

	& span {
		display: block;
	}


}

.blog__list {
	margin-right: 110px;
	padding-bottom: 41px;
	width: 69%;
}

.blog__item {
	margin-left: 28px;
	padding-top: 39px;

	&--padding {
		padding-top: 62px;
	}
}

.blog__title {
	margin-bottom: 16px;
	font-size: 35px;
	line-height: 41px;
}

.blog__time {
	margin-bottom: 17px;
	font-size: 16px;
}

.blog__text {
	font-size: 16px;
	line-height: 26px;
}

.blog__img-box {
	height: auto;
}
 
}

@media (min-width: 1800px) {

.blog__list {
	width: 75%;

}

.blog-menu__list {
	width: 26.9%;
}

.blog__item {
	margin-left: 44px;
	margin-right: 299px;
}

.blog-menu__link {
	margin-left: 100px;
}






}