@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBoldItalic';
  src: url('../fonts/Roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-bolditalic-webfont.woff') format('woff'),
  url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('../fonts/Roboto/roboto-italic-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-italic-webfont.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-light-webfont.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLightItalic';
  src: url('../fonts/Roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-lightitalic-webfont.woff') format('woff'),
  url('../fonts/Roboto/Roboto-LigtItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-medium-webfont.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMediumItalic';
  src: url('../fonts/Roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-mediumitalic-webfont.woff') format('woff'),
  url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SansusWebissimoRegular';
  src: url('../fonts/Sansus/sansus-webissimo-regular-webfont.woff2') format('woff2'),
  url('../fonts/Sansus/sansus-webissimo-regular-webfont.woff') format('woff'),
  url('../fonts/Sansus/Sansus-Webissimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
