@font-face {
  font-family: "OpenSans-Regular";
  src: url("/assets/fonts/OpenSans-Regular.eot");
  src: url("/assets/fonts/OpenSans-Regular.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/OpenSans-Regular.woff") format("woff"),
  url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}