.greating {
  overflow: hidden;
  position: relative;
  padding: 150px 20px 50px;
  background: #F44336;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  &_text {
    font-size: 45px;
    color: #fff;
  }

  &_picture {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 114px;
    background: url('/assets/img/viking.png') no-repeat center;
    transform: translate3D(100%, 0, 0);
    transition: transform 0.5s;
  }
}

.greating_picture.m--show {
  transform: translate3D(0, 0, 0);
}
