.main-nav {
  margin-bottom: 53px;
  padding-top: 12px;
  min-height: 51px;
}

.main-nav__toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: block;
  width: 46px;
  height: 46px;
  font-size: 0;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right:11px;
  width: 26px;
  height: 3px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff,
              0 20px 0 0 #ffffff;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--opened {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 135px;
    background: rgba(126,155,82, 0.87);
    z-index: 2;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  z-index: 3;

  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 21px;
    right: 6px;
    width: 32px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__link {
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  line-height: 35px;
  font-family: "Sansus", arial, sans-serif;
  font-weight: 400;

  &:hover {

  	&::before {
  	  content: "";
  	  position: absolute;
  	  bottom: 0px;
  	  left: 50%;
  	  margin-left: -28px;
  	  width: 56px;
  	  height: 3px;
  	  background: #ffffff;
  	}
  }
}

.main-nav__social-list {
  display: flex;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  list-style: none;
  font-size: 0px;
}

.main-nav__social-link {
  display: block;
  width: 24px;
  height: 21px;
  margin-right: 26px;
}

.main-nav__svg {
  fill: #ffffff;
  width: 24px;
  height: 21px;

  &:hover {
    fill: #487e38;
  }
}

.main-nav--closed .main-nav__item {
    display: none;
 }

@media (min-width: 768px) {

.main-nav__social-list {
  margin-left: 30px;
}

.main-nav__social-link {
  width: 31px;
  height: 22px;
  margin-right: 24px;
}

.main-nav__svg {
  fill: #ffffff;
  width: 31px;
  height: 22px;

  &:hover {
    fill: #487e38;
  }
}

.main-nav__toggle {
  top: 29px;
  right: 29px;
  width: 40px;
  height: 40px;
}

.main-nav--closed .main-nav__toggle::before {
  top: 0px;
  right: 0px;
  width: 40px;
  height: 5px;
  border-radius: 2px;
  box-shadow: 0 15px 0 0 #ffffff,
              0 30px 0 0 #ffffff;
}

.main-nav {
  margin-bottom: 35px;
}

.main-nav__link {
  margin-bottom: 60px;
  font-size: 49px;
  line-height: 49px;

  &:hover {

    &::before {
      margin-left: -45px;
      width: 90px;
      height: 4px;
    }
  }
}

.main-nav__list {

  &--opened {
    padding-top: 176px;
  }
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    top: 46px;
    right: 25px;
    width: 48px;
    height: 4px;
    border-radius: 1px;
  }
}



}

@media (min-width: 1200px) {

.main-nav__toggle {
  top: 33px;
}

.main-nav {
  margin-bottom: 72px;

  &--blog {
    margin-bottom: 0px;
  }
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    position: fixed;
    margin: 0 auto;
    margin-left: auto;
    top: 49px;
  }
}

.main-nav__link {
  margin-bottom: 44px;
  font-size: 63px;
  line-height: 63px;

  &:hover {

    &::before {
      margin-left: -45px;
      width: 90px;
      height: 4px;
    }
  }
}

.main-nav__list {


  &--opened {
    width: 100%;
    height: 100%;
  }
}
}

@media (min-width: 1800px) {

.main-nav__toggle {
  top: 28px;
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    position: fixed;
    left: 1730px;
    top: 0px;
    margin: 0 auto;
    top: 45px;
  }
}

.main-nav__list {


  &--opened {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 1800px;
    
  }
}

}