@mixin centered($axis: 'both') {
    position: absolute;

    @if $axis == 'both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @if $axis == 'x' {
      left: 50%;
      transform: translateX(-50%);
    }

    @if $axis == 'y' {
      top: 50%;
      transform: translateY(-50%);
    }
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin font-roboto($style) {
  @if $style == bold {
    font-family: Roboto-Bold, sans-serif;
  }
  @if $style == bold-italic {
    font-family: Roboto-BoldItalic, sans-serif;
  }
  @if $style == italic {
    font-family: Roboto-Italic, sans-serif;
  }
  @if $style == light {
    font-family: Roboto-Light, sans-serif;
  }
  @if $style == light-italic {
    font-family: Roboto-LightItalic, sans-serif;
  }
  @if $style == medium {
    font-family: Roboto-Medium, sans-serif;
  }
  @if $style == medium-italic {
    font-family: Roboto-MediumItalic, sans-serif;
  }
  @if $style == regular {
    font-family: Roboto-Regular, sans-serif;
  }
}
