.page-header {
	background: linear-gradient(-170deg, transparent 576px, #ebefe2 577px), linear-gradient(170deg, transparent 576px, #ebefe2 577px),
				url('../img/back.png') no-repeat;
	min-height: 557px;

	&--blog {
		background: url("../img/blog-header1.png") center 257px no-repeat,
					linear-gradient(-170deg, transparent 576px, #f8f9f5 577px), linear-gradient(170deg, transparent 576px, #f8f9f5 577px),
			    	url('../img/back.png') no-repeat; 
	}

	&--works {
	background: linear-gradient(-170deg, transparent 576px, #f8f9f5 577px), linear-gradient(170deg, transparent 576px, #f8f9f5 577px),
				url('../img/back.png') no-repeat;
	min-height: 557px;		
	}
}

.page-header__list {
	display: flex;
	margin: 0px;
	margin: 0 10px;
	padding: 0px;
	list-style: none;
}

.page-header__link {
	display: block;
	margin-right: 10px;
	width: 24px;
	height: 21px;
	font-size: 0px;
}

.page-header__box-img {
	margin: 0 auto;
	margin-bottom: 26px;
	width: 142px;
	height: 142px;
	border-radius: 50%;
	overflow: hidden;

	&--blog {
		margin-bottom: 20px;
	}
}

.page-header__img {
	margin-left: -85px;
	height: 270%;
}

.page-header__title {
	margin: 0px;
	margin-bottom: 4px;
	font-size: 21px;
	line-height: 28px;
	color: #ffffff;
	text-align: center;

	&--blog {
		position: relative;
		margin-bottom: 12px;
		padding-bottom: 16px;
		font-size: 35px;
		line-height: 42px;
		font-family: "Sansus", arial, sans-serif;
		font-weight: 400;
		text-transform: uppercase;

		&::before {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 50%;
			margin-left: -28px;
			width: 56px;
			height: 3px;
			background: #ffffff;

		}
	}
}

.page-header__desc {
	margin: 0px;
	margin-bottom: 149px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	text-align: center;

	&--blog {
		margin-bottom: 117px;
	}
}

.page-header__arrow {
	display: block;
	margin: 0 auto;	
	font-size: 0px;
	width: 26px;
	height: 16px;
	background: url('../img/arrow_down.png') no-repeat;
}

@media (min-width: 768px) {

.page-header {
	display: flex;
	flex-direction: column;
	padding-top: 18px;
	background: url('../img/portfolio.png') center 140px no-repeat,
				linear-gradient(-170deg, transparent 563px, #ebefe2 564px), linear-gradient(170deg, transparent 563px, #ebefe2 564px),
			    url('../img/back2.png') top center no-repeat; 
	background-size: auto, cover;
	min-height: 487px;
	width: 100%;

	&--blog {
		background: url("../img/blog-header2.png") center 235px no-repeat,
					linear-gradient(-170deg, transparent 563px, #f8f9f5 564px), linear-gradient(170deg, transparent 563px, #f8f9f5 564px),
			    	url('../img/back2.png') top center no-repeat; 
	}

	&--works {
		background: url('../img/portfolio.png') center 140px no-repeat,
					linear-gradient(-170deg, transparent 563px, #f8f9f5 564px), linear-gradient(170deg, transparent 563px, #f8f9f5 564px),
			        url('../img/back2.png') top center no-repeat; 		
	}
}

.page-header__title {
	margin-bottom: 2px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 500;

	&--blog {
		margin-bottom: 12px;
		padding-bottom: 13px;
		font-size: 49px;
		line-height: 52px;

		&::before {
			margin-left: -45px;
			width: 90px;
		}
	}
}

.page-header__box-img {
	margin-bottom: 21px;
}

.page-header__desc {
	margin-bottom: 94px;
	font-size: 16px;

	&--blog {
		margin-bottom: 60px;
		font-size: 14px;
		line-height: 24px;
	}
}
}

@media (min-width: 1200px) {

.page-header {
	display: flex;
	flex-direction: column;
	background: url('../img/portfolio1.png') center 120px no-repeat,
				linear-gradient(-170deg, transparent 695px, #ebefe2 696px), linear-gradient(170deg, transparent 695px, #f4f5f0 696px),
			    url('../img/back3.png') top center no-repeat; 
	background-size: auto, cover;
	min-height: 583px;

	&--blog {
		min-height: 419px;
		background: url("../img/blog-header3.png") center 192px no-repeat,
					linear-gradient(-170deg, transparent 532px, #f8f9f5 533px), linear-gradient(170deg, transparent 532px, #f8f9f5 533px),
			    	url('../img/back3.png') center -165px no-repeat; 
	}

	&--works {
		background: url('../img/portfolio1.png') center 120px no-repeat,
					linear-gradient(-170deg, transparent 695px, #f8f9f5 696px), linear-gradient(170deg, transparent 695px, #f8f9f5 696px),
			        url('../img/back3.png') top center no-repeat; 		
	}
}

.page-header__desc {
	margin-bottom: 130px;

	&--blog {
		font-size: 16px;
		margin-bottom: 0px;
	}
}

.page-header__title {
	
	&--blog {
		margin-bottom: 24px;
		padding-bottom: 25px;
		font-size: 63px;
		line-height: 63px;
	}
}

.page-header__arrow--blog {
	display: none;
}

}

@media (min-width: 1800px) {

.page-header {
	display: flex;
	flex-direction: column;
	background:  url('../img/portfolio1.png') center 120px no-repeat,
				linear-gradient(-170deg, transparent 747px, #ebefe2 748px), linear-gradient(170deg, transparent 747px, #f4f5f0 748px),
			    url('../img/back4.png') top center no-repeat; 
	background-size: auto, cover;
	min-height: 583px;

	&--blog {
		min-height: 419px;
		background: url("../img/blog-header3.png") center 192px no-repeat,
					linear-gradient(-170deg, transparent 586px, #f8f9f5 587px), linear-gradient(170deg, transparent 586px, #f8f9f5 587px),
			    	url('../img/back4.png') center -165px no-repeat; 
	}

	&--works {
	background: url('../img/portfolio1.png') center 120px no-repeat,
				linear-gradient(-170deg, transparent 747px, #f8f9f5 748px), linear-gradient(170deg, transparent 747px, #f8f9f5 748px),
			    url('../img/back4.png') top center no-repeat; 		
	}
}
}