html {
  height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: "RobotoLight", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

* {
	box-sizing: border-box;
}
