ul.footer-menu
  li.footer-menu__item
    a(href="/works.html").footer-menu__link
      | Мои работы
  li.footer-menu__item
    a(href="/about.html").footer-menu__link
      | Обо мне
  li.footer-menu__item
    a(href="/blog.html").footer-menu__link
      | Блог
  li.footer-menu__item
    a(href="#").footer-menu__link
      | Авторизация
