.user-block.absolute-center
  .user-block__data
    .user-block__photo
      .user-photo
    .user-block__name
      .user-name
        | #{author.name}
    .user-block__info
      .user-info
        | Личный сайт веб разработчика
    .user-block__social
      include ../../blocks/user-social/user-social

  nav.user-block__menu
    ul.user-menu
      li.user-menu__item
        a(href="/works.html").user-menu__link
          | Мои работы
      li.user-menu__item.user-menu__item_inner-item
        a(href="/about.html").user-menu__link
          | Обо мне
      li.user-menu__item
        a(href="/blog.html").user-menu__link
          | Блог
