section.section-hero-blog
  .section-hero-blog__social
    include ../../blocks/user-social/user-social
  .section-hero-blog__hamburger
    include ../../blocks/hamburger/hamburger
  .section-hero-blog__box
    .section-hero-blog__user-photo
      include ../user-photo/user-photo
    .section-hero-blog__blog-header
      img(src="assets/img/section-hero-blog/blog-header.svg")
    .section-hero-blog__title.main-title.main-title--white
      | Блог
  .section-hero-blog__info
    | Статьи, которые я написал
