extends ../template

block title
  | Обо мне | #{author.name}

block content
  include ../common/section-hero
  include ../common/section-about
  // include ../common/section-map

block footer
  include ../../blocks/page-footer/page-footer
