extends ../_template

block variables
  - var title = 'Another page'

block content
  header.page-header
    ul.page-header__list
      li.page-header__item
        a.page-header__link(href="#") Vkontakte
      li.page-header__item 
        a.page-header__link(href="#") Twitter
      li.page-header__item
        a.page-header__link(href="#") Instagram
    nav.main-nav
      button.main-nav__btn(type="button") Открыть меню
      div.main-nav__wrapper
        ul.main-nav__list
          li.main-nav__item
            a.main-nav__link(href="") Мои работы
          li.main-nav__item
            a.main-nav__link(href="") Блог
          li.main-nav__item
            a.main-nav__link(href="") Обо мне
          li.main-nav__item
            a.main-nav__link(href="") Авторизация
    div.page-header__block
      div.page-header__img
      h1 Блог
      p Статьи, которые я написал
  
  main.wrapper
    ul
      li
        h2 Самое важное в SASS
        time 22 ноября 2016
        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        img(width="200" height="200" alt="Картинка")
      li
        h2 Приемы в верстке, без которых не обходится ни один сайт
        time 13 ноября 2016
        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        img(width="200" height="200" alt="Картинка")

  footer.main-footer
    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    ul
      li
        a(href="#") Мои работы
      li
        a(href="#") Обо мне       
      li
        a(href="#") Блог
      li
        a(href="#") Авторизация
    ul
      li
        a(href="#") Vkontakte
      li
        a(href="#") Twitter   
      li
        a(href="#") Instagramm
    ul
      li
        a(href="#") skype_kdn
      li
        a(href="#") astahov@gmail.com
      li
        a(href="#") +7 931 200 93 24
      li
        a(href="#") Новосибирск, ул. Инская, д. 14
    div
      p &copy; Елисеев Максим
      p Создано с любовью в LoftSchool | 2016