extends ../template

block title
  | Блог | #{author.name}

block content
  .page-blog.wrapper
    .page-blog__section-hero-blog
      include ../../blocks/section-hero-blog/section-hero-blog
    .page-blog__section-blog
      include ../../blocks/section-blog/section-blog
    .page-blog__empty

block footer
  include ../../blocks/page-footer/page-footer
