extends ../_template

block variables
  - var title = 'Login page'

block content
  div.wrapper__login
    button.login__btn Авторизоваться
    div.login__box
      form.login__welcome
        div.login__box-img
          img.login__img(src="assets/img/photo.jpg" alt="Картинка")
        h1.login__title Елисеев Максим      
        p.login__desc Личный сайт веб разработчика
        ul.login__list
          li.login__item
            a.login__link.login__link--vk(href="#") Вконтакте
          li.login__item
            a.login__link.login__link--github(href="#") Гитхаб
          li.login__item
            a.login__link.login__link--in(href="#") Инстраграмм
        ul.login__menu
          li.login__menu-item
            a.login__menu-link(href="") Мои работы
          li.login__menu-item
            a.login__menu-link(href="index.html") Обо мне
          li.login__menu-item
            a.login__menu-link.login__menu-link--border(href="blog.html") Блог
      
      form.login__form
        h2.login__form-title Авторизуйтесь
        input.login__input-text(type="text" placeholder="Логин")
        input.login__input-text(type="text" placeholder="Пароль")
        div.login__checkbox-box
          input.login__input-checkbox(type="checkbox") 
          label.login__checkbox-label Я человек
        div.login__radio-box
          p Вы точно не робот?
          input(type="radio") 
          label Да
          input(type="radio")
          label Не уверен
        a(href="#") На главную
        a(href="#") Войти
    
    footer.login__footer
      p.login__footer-text &copy; Елисеев Максим
      p.login__footer-text 
        span |
        |  cоздано с любовью в LoftSchool | 2016