extends ../template

block title
  | Сайт-портфолио | #{author.name}

block content
  .welcome-page.welcome-page--bg-image
    .welcome-page__login-button
      include ../../blocks/login-button/login-button
    .welcome-page__user-block
      include ../../blocks/user-block/user-block
    .welcome-page__copyright-text
      include ../../blocks/copyright-text/copyright-text
