extends ../template

block title
  | Мои работы | #{author.name}

block content
  .page-works.wrapper
    .page-works__section-hero
      include ../../blocks/section-hero/section-hero

block footer
  include ../../blocks/page-footer/page-footer
