extends ../template

block title
  | Мои работы | #{author.name}

block content
  .page-works.wrapper
    .page-works__section-hero
      include ../../blocks/section-hero/section-hero
    .page-works__section-my-works
      include ../../blocks/section-my-works/section-my-works
    .page-blog__empty
block footer
  include ../../blocks/page-footer/page-footer
