.section-about
  @extend %clearfix

.section-about__left, .section-about__right
  float: left
  width: 50%
  position: relative

.section-about__left
  background: $beige

.section-about__right
  background: $white

.section-about__triangles
  position: absolute
  bottom: 100%
