section.section-about
  .section-about__left
    <!-- todo https://toster.ru/q/79130 -->
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle.section-about__triangles
      polygon(points="0,0 0,100 1000,100").triangle_fill_white
    .title.section-about__title
      | Обо мне
  .section-about__right
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle.section-about__triangles
      polygon(points="0,100 1000,100 1000,0").triangle_fill_beige
