ul.footer-info
  li.footer-info__item
    .footer-info__text
      | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
  li.footer-info__item
    nav.footer-info__menu
      include ../footer-menu/footer-menu
    .footer-info__social
      include ../user-social/user-social
  li.footer-info__item
    .footer-info__quote
      include ../footer-quote/footer-quote
