section.section-hero
  .section-hero__social
    include ../../blocks/user-social/user-social
  .section-hero__hamburger
    include ../../blocks/hamburger/hamburger
  .section-hero__title
    .section-hero__portfolio-header
      img(src="assets/img/section-hero/portfolio-header.svg")
    .section-hero__user-photo
      include ../user-photo/user-photo
    .section-hero__user-name
      include ../user-name/user-name
    .section-hero__user-info
      include ../user-info/user-info
  .section-hero__down-arrow
    img(src="assets/img/section-hero/arrow-down.svg")
