section.section-blog
  .foo
    .section-blog__left
      svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle
        polygon(points="0,0 0,100 1000,100").section-blog__triangle
    .section-blog__right
      svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle
        polygon(points="0,100 1000,100 1000,0").section-blog__triangle
  .section-blog__container
    .section-blog__menu
      ul.articles-menu
        li.articles-menu__item
          a(href="#").article-link Самое важное в SASS
        li.articles-menu__item
          a(href="#").article-link Приёмы в вёрстке, без которых не обходится ни один сайт
        li.articles-menu__item.articles-menu__item--active
          a(href="#").article-link Самый необходимый набор Gulp плагинов
        li.articles-menu__item
          a(href="#").article-link Почему я выбрал Jade
    .section-blog__articles
      ul.articles
        li.article
          .article__title
            | Самое важное в SASS
          .article__created-at
            | 22 ноября 2016
          .article__content
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        li.article
          .article__title
            | Приёмы в вёрстке, без которых не обходится ни один сайт
          .article__created-at
            | 13 ноября 2016
          .article__content
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
