section.section-my-works
  .section-my-works__left
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle.section-my-works__triangles
      polygon(points="0,0 0,100 1000,100").triangle_fill_f8f9f5
    .my-works-left
      .my-works__title
        .my-works-left__title-header
          img(src="assets/img/section-my-works/works-header.svg")
        .my-works-left__title-text.main-title.main-title--fix
          | Мои работы
      .my-works-desc
        .my-works-desc__title
          .subtitle
            | Сайт школы онлайн образования
        .my-works-desc__info
          | HTML, CSS, JAVASCRIPT
        button.my-works-button
          i.fa.fa-link
          | Посмотреть сайт
  .section-my-works__right
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle.section-my-works__triangles
      polygon(points="0,100 1000,100 1000,0").triangle_fill_f8f9f5
    .my-works-right
      .carousel
        .carousel-preview
          img(src="assets/img/section-my-works/project-2.png")
        .carousel-arrows
          .carousel-arrows__item
            .carousel-arrows__down
              .carousel-arrows__item-fon
                img(src="assets/img/section-my-works/portf-arrow-down.svg").carousel-arrows--center
          .carousel-arrows__item
            .carousel-arrows__up
              .carousel-arrows__item-fon
                img(src="assets/img/section-my-works/portf-arrow-up.svg").carousel-arrows--center
